.topic {
	font-size: 16pt;
	color: #333333;
}

.description {
	font-size: 12pt;
	color: #787878;
}

ol {
	margin-left: 15%;
	width: 80%;
}

input[type="button"]{
	width: 20%;
}

input[type="text"] {
	width: 60%;
	border-width: 0px 0px 2px 0px;
	border-bottom-color: #102323;
	font-size: 18pt;
	color: #4FB0AE;
}