.topic {
	font-size: 16pt;
	color: #333333;
}

.description {
	font-size: 12pt;
	color: #787878;
}

ol {
	margin-left: 15%;
	width: 80%;
}

input[type="button"]{
	width: 20%;
	margin: 10px;
	padding: 5px;
	/*border-color: #4FB0AE;*/
	color: #ffffff;
	font-size: 18pt;
	background-color: #4FB0AE;
	border-style: none;

}

input[type="text"] {
	width: 60%;
	border-width: 0px 0px 2px 0px;
	border-bottom-color: #102323;
	border-style: groove;
	font-size: 18pt;
	color: #4FB0AE;
}
input[type="email"] {
	width: 60%;
	border-width: 0px 0px 2px 0px;
	border-bottom-color: #102323;
	border-style: groove;
	font-size: 18pt;
	color: #4FB0AE;
}